//Genaral variables

$text-color: #000;
$bg-color: #F2F2F2;
$blanc: #fff;
$bg-footer: rgb(72, 70, 75);
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$text-color-nouveau: #37685c;
$text-color-localisation: #636363;
$color-box-shadow: #e4e4e4;

//polices
$logo_titres: 'Shrikhand';
$texte: 'Roboto';
$font_size_text: 17px;
$font_size_titre: 19px;