body {
    margin-left: 0px;
    margin-right: 0px;
}

.text__police {
    @include font-size($font_size_text);
    font-family: $texte, sans-serif;
}

h2 {
    font-family: $logo_titres, sans-serif;
    display: block;
    list-style-type: disc;
    margin-left: 18px;
}

.margin-content {
    margin: 15px;
}

.type-menu {
    border-bottom: 3px solid $tertiaire;
    width: 50px;
    // margin-left: 30px;
}

.margin-top {
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom: 50px;
}

header {
    @extend %width;
    height: 80px;
    .retour {
        margin-left: 20px !important;
    }
    .mt-header {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    img {
        width: 20%;
    }
}

footer {
    @extend %width;
    height: 200px;
    background-color: $bg-footer;
    color: #fff;

    a {
        text-decoration: none;
        color: #fff;
        i {
            margin-right: 5px;
        }
    }

    ul li {
        list-style-type: none;
        line-height: 2;
        margin-left: -22px;
    }
}

.btn {
    padding: 13px 20px 13px 20px;
    background: linear-gradient(to bottom right, $secondaire, $primaire);
    color: #fff;
    border-radius: 100px;
    border: 1px solid $secondaire;
    margin-top: 50px;
    box-shadow: 0px 2px 5px #929292;

    &:hover {
        opacity: 0.8;
        box-shadow: 0px 2px 5px #414040;
    }
}

.disposition-horizotal {
    display: flex;
    justify-content: space-between;
}

.text-align-center {
    text-align: center !important;
}

.content-grille {
    display: grid;
    grid-gap: 10px;
}

.logo,
.label-fonct {
    grid-column: 3;
    @extend %grid-row;
    text-align: start;
}

.font-weight {
    font-weight: bold;
}

.ohmyfood-restaurant__desc {
    margin: 0px 30px 20px 20px;
    font-size: 17px;
}

// .ohmyfood-restaurant__iconCoeur i {
//     font-size: 30px;
//     color: #000;
// }

.heart-end-hover {
    position: absolute;
    top: 28px;
    left: 15px;
    font-size: 0px;
    transition: top 0.7s, font-size 0.7s, left 0.7s;
    background: linear-gradient(to bottom, $primaire 0%,$secondaire 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heart-start {
    display: inline-block;
    position: relative;
    font-size: 30px;
    overflow: hidden;
    cursor: pointer;
}

.heart-start:hover .heart-end-hover {
    top: 2px;
    font-size: 25px;
    left: 2.5px;

}

@media all and (min-width: 0px) and (max-width: 767.9px) {
    header {
        img {
            width: 35%;
        }
    }
}