main {
    .conteneurs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ohmyfood-localisation {
        background-color: #dddada;
        padding: 25px;

        .mr-icon {
            margin-right: 10px;
            color: #636363;
        }
    }
    .grid-template-columns--fonct {
        grid-template-columns: 0fr 0.5fr 3.8fr;
        .icon-fonct {
            grid-column: 2;
            @extend %grid-row;
            margin-top: 5px;
        }
    }
    


    .ohmyfood-titre {
        padding: 20px 0px 40px 0px;
        background-color: $bg-color;
        @extend %width;
        box-shadow: 0px 0px 9px #F2F2F2;
        .margin-titre {
            margin: 0px 20px 0px 20px;
        }
    }

    .card-item {
        width: 25%;
        margin: 15px 15px 15px 40px;
        padding: 25px 25px 25px 0px;
        box-shadow: 0px 2px 5px $bg-color;
        background-color: $bg-color;
        @extend %border-radius;

        i {
            color: #636363;
        }

        &:hover {
            background: rgba($color: $primaire, $alpha: 0.2);

            i {
                color: $primaire;
            }
        }
    }

    .ohmyfood-restaurant {
        background-color: $bg-color;
        padding: 20px 0px 20px 0px;
        a {
            text-decoration: none;
            color: black;
        }

    }

    .ohmyfood-restaurant__card {
        width: 46%;
        height: 350px;
        @extend %border-radius;
        background-color: $blanc;
        margin: 15px;
        float: left;
        box-shadow: 0px 2px 5px #fff;
        img {
            @extend %width;
            height: 270px;
            border-radius: 20px 20px 0px 0px;
            @extend %img-cover;
        }

        .ohmyfood-restaurant__desc {
            display: flex;
            justify-content: space-between;
            margin: 20px 30px 20px 20px;
            @include font-size($font_size_text);
        }

        .nouveau {
            padding: 5px 20px 5px 10px;
            width: 50px;
            background-color: $tertiaire;
            color: #37685c;
            position: absolute;
            right: 30px;
            border-radius: 5px;
            margin-top: 20px;

        }
    }

    .ohmyfood-restaurant__iconCoeur i {
        @include font-size(30px);
        color: #000;
    }

    .badge {
        position: relative;
        left: -15px;
        background-color: $primaire;
        padding: 5px 10px 5px 10px;
        border-radius: 100%;
        color: #fff;
    
        // .position-badge1 {
        //     left: 203px;
        // }

        // .position-badge2 {
        //     top: 270px;
        // }

        // .position-badge3 {
        //     top: 270px;
        // }
    }
    .ohmyfood-restaurant__titre {
        line-height: 1.5;
    }
}

@media all and (min-width: 0px) and (max-width: 767.9px) {
    main {
    .card-item {
        width: 100%;
    }

    .ohmyfood-restaurant__card {
        width: 100%;
    }
}
}

@media (min-width: 768px) and (max-width: 959px) {
    main .card-item {
        width: 22%;
    }
}