$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
$width: 100px;

.main {
    opacity: 0;
    animation-name: opacity;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

.loader {
    position: relative;
    width: $width;

    &:before {
        content: '';
        display: block;
        padding-top: 100%;
    }
}

.circular {
    animation-name: rotate;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out, color 7s ease-in-out;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {

    100%,
    0% {
        stroke: $red;
    }

    40% {
        stroke: $blue;
    }

    66% {
        stroke: $green;
    }

    80%,
    90% {
        stroke: $yellow;
    }
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.showbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    padding: 5%;
}