@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0px;
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
}
header .mt-header {
  margin-top: 20px;
  margin-bottom: 20px;
}
header img {
  width: 35%;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  margin-left: 18px;
}

.margin-content {
  margin: 15px;
}

.type-menu {
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}

.text__police {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}

.btn {
  padding: 13px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
  border-radius: 100px;
  border: 1px solid #FF79DA;
  margin-top: 50px;
  box-shadow: 0px 2px 5px #929292;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 5px #414040;
}

.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

main .ohmyfood-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F2F2F2;
}
main .ohmyfood-detail__img {
  height: 230px;
  width: 100%;
}
main .ohmyfood-detail__img img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
main .ohmyfood-detail__content {
  height: auto;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background-color: #F2F2F2;
}
main .ohmyfood-detail .ohmyfood-detail__content-card:hover .content-grille-card {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
main .ohmyfood-detail .ohmyfood-detail__content-card:hover .content-3 {
  grid-column: 3;
  background-color: #414040;
  width: 100px;
}
main .ohmyfood-detail .content-grille-card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
}
main .ohmyfood-detail .content {
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
  font-size: 19px;
}
main .ohmyfood-detail .content-2 {
  grid-column: 1;
  grid-row: 2;
}
main .ohmyfood-detail .icon {
  grid-column: 2;
  grid-row: 2;
  text-align: end;
}

.disposition-horizotal {
  display: flex;
  justify-content: space-between;
}

.ohmyfood-restaurant__desc {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 20px 20px;
  font-size: 17px;
}

.ohmyfood-restaurant__iconCoeur i {
  font-size: 30px;
  color: #000;
}

.icon-top {
  margin-top: 25px;
  font-size: 22px;
}

.text-align-center {
  text-align: center;
}

.content-grille {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2.5fr;
  grid-gap: 10px;
}

.retour {
  grid-column: 1;
  grid-row: 1;
}

.logo {
  grid-column: 3;
  grid-row: 1;
}

footer {
  width: 100%;
  height: 200px;
  background-color: rgb(72, 70, 75);
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a i {
  margin-right: 5px;
}
footer ul li {
  list-style-type: none;
  line-height: 2;
  margin-left: -22px;
}

.d1 {
  animation-duration: 1s;
}

.d2 {
  animation-duration: 1.5s;
}

.d3 {
  animation-duration: 2s;
}

.d4 {
  animation-duration: 2.5s;
}

.d5 {
  animation-duration: 3s;
}

.d6 {
  animation-duration: 3.5s;
}

.d7 {
  animation-duration: 4s;
}

.d8 {
  animation-duration: 4.5s;
}

.d9 {
  animation-duration: 5s;
}

.ohmyfood-detail__content-card {
  opacity: 0;
  animation-name: mouve-up;
  animation-fill-mode: forwards;
}

@keyframes mouve-up {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: translateY(15px);
  }
}
@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes coulor {
  0% {
    color: #ffc4ee;
  }
  50% {
    color: #fda3e4;
  }
  100% {
    color: #FF79DA;
  }
}
.heart-end-hover {
  color: #fff;
  position: absolute;
  margin-left: -30px;
  opacity: 0;
}

.heart-end-hover:hover {
  animation-name: opacity, coulor;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.ohmyfood-detail__content-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 80px;
  background-color: #fff;
  transform: scale(1);
  border-radius: 20px;
  font-size: 19px;
  margin: 15px;
}
.ohmyfood-detail__content-card .card-description {
  padding: 0px 0px 0px 20px;
}
.ohmyfood-detail__content-card .card-description:nth-child(1) {
  flex: 3.5;
}
.ohmyfood-detail__content-card .card--price:nth-child(2) {
  flex: 0.5;
}
.ohmyfood-detail__content-card .card--check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 80px;
  font-size: 23px;
  transition: width 0.5s;
  border-radius: 0 1rem 1rem 0;
  color: #fff;
  background-color: #000;
}
.ohmyfood-detail__content-card:hover .card--check-circle {
  width: 90px;
  height: 80px;
  display: flex;
  background-color: #99E2D0;
}
.ohmyfood-detail__content-card .icon-fa {
  opacity: 0;
  transition-delay: 0.5s;
  transition: 0.5s ease-in-out;
}
.ohmyfood-detail__content-card:hover .icon-fa {
  opacity: 1;
  transform: rotate(1turn);
}
.ohmyfood-detail__content-card .card--price {
  margin: 2rem 1rem 1rem 0;
}

/*# sourceMappingURL=style-menu.css.map */
